[Desktop Entry]
Name=SmartNotifications
Comment=Plasma notification system
Type=Service
Icon=bookmarks

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_smartnotifications
X-KDE-PluginInfo-Author=Manuel Bleichner
X-KDE-PluginInfo-Email=mbleichner@web.de
X-KDE-PluginInfo-Name=smartnotifications
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://www.documentroot.net
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

